{% extends 'base.html.twig' %}

{% block title %}Meet & Run{% endblock %}

{% block body %}
<style>

</style>

<div>
    <header>
        <figure>
            <img src="/img/logo.png" alt="Logo du site">
            <figcaption>Où chaque course commence par une rencontre</figcaption>
        </figure>
        <div class="linear-shadow"></div>
    </header>
    <main>
        <section class="section-container">
            <div class="circle" data-aos="fade-up-right">
                <i class="fas fa-running"></i>
                <p>Connecte toi à d'autres coureurs</p>
            </div>
            <div class="circle" data-aos="fade-up">
                <i class="fas fa-calendar-alt"></i>
                <p>Rejoins une course ou crée la tienne</p>
            </div>
            <div class="circle" data-aos="fade-up-left">
                <i class="fas fa-comments"></i>
                <p>Le forum des passionnés t'attend</p>
            </div>
        </section>
        <section class="events-container" data-aos="fade-up">
            <h2>Prochaines courses</h2>
            <div class="cards-wrapper">
                {% for event in events %}
                <div class="event-card">
                    <div class="event-card-body">
                        <!-- <img src="" class="event-card-img" alt="Image de l'événement"> -->
                        <h3 class="event-title">{{ event.name }}</h3>
                        <p class="event-date"><i class="fa-solid fa-calendar"></i> {{ event.dateEvent|date('d/m/Y H:i')
                            }}</p>
                        <p class="event-location"><i class="fa-solid fa-location-dot"></i> {{ event.postalCode }} {{
                            event.city }}</p>
                        <a href="" class="event-link">Voir plus</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="users-container">
            <h2>Bienvenue aux nouveaux Runners</h2>
            <div class="users">
                {% for user in users %}
                {% if user.pictureProfilUrl %}
                <div data-aos="flip-up">
                    <figure>
                        <img src="{{ user.pictureProfilUrl}}" alt="Photo de profil">
                    </figure>
                    <p>{{ user.firstName }} {{ user.lastName|slice(0,1) }}.</p>
                </div>
                {% else %}
                <div class="user-no-picture">
                    <div class="circle-user" data-aos="flip-up">
                        <p>{{ user.firstName|slice(0,1) }} {{ user.lastName|slice(0,1) }}</p>
                    </div>
                    <p>{{ user.firstName }} {{ user.lastName|slice(0,1) }}.</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </section>
    </main>

</div>
{% endblock %}