{% extends 'base.html.twig' %}

{% block title %}Meet & Run{% endblock %}

{% block body %}

<div>
    <header class="home-header">
        <figure>
            <img src="/img/logo.webp" alt="Logo du site">
            <figcaption>Où chaque course commence par une rencontre</figcaption>
        </figure>
        <div class="linear-shadow"></div>
    </header>
    <main>
        <section class="section-container">
            <div class="circle" data-aos="fade-up-right">
                <i class="fas fa-running"></i>
                <p>Connecte toi à d'autres coureurs</p>
            </div>
            <div class="circle" data-aos="fade-up">
                <i class="fas fa-calendar-alt"></i>
                <p>Rejoins une course ou crée la tienne</p>
            </div>
            <div class="circle" data-aos="fade-up-left">
                <i class="fas fa-comments"></i>
                <p>Le forum des passionnés t'attend</p>
            </div>
        </section>
        <section class="events-container" data-aos="fade-up">
            <h2>Prochaines courses</h2>
            <div class="events-grid">
                {% include "./events/_events.html.twig" %}
            </div>
        </section>
        {% if app.user and app.user.isVerified %}
            
        <section class="users-container">
            <h2>Bienvenue aux nouveaux Runners</h2>
            <div class="users">
                {% for user in users %}
                <a href="{{ path('app_profil', {'id' :  user.id}) }}" class="runner-card-link">
                    <div class="runner-card">
                        {% if user.pictureProfilUrl %}
                        <img src="{{ asset(user.pictureProfilUrl) }}" alt="Photo de {{ user.firstName }}"
                            class="runner-photo">
                        {% else %}
                        <img src="{{ asset('img/default_picture_profil.webp') }}" alt="Photo par défaut"
                            class="runner-photo">
                        {% endif %}
                        <div class="runner-info">
                            {{ user.firstName }} {{ user.lastName }} <br>
                            {% if user.city %}
                            {{ user.city }} <br>
                            {% endif %}
                            {% if user.dateOfBirth %}
                            {{ user.getAge }} ans<br>
                            {% endif %}
                            {% if user.level %}
                            Niveau : {{ user.level.level }}
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            
        </section>
        {% endif %}
    </main>

</div>
{% endblock %}