{% extends 'base.html.twig' %}

{% block title %}Meet & Run{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <header>
        
        <figure>
            <img src="/img/logo.png" alt="Logo du site">
            <figcaption>Où chaque course commence par une rencontre</figcaption>
        </figure>
    </header>
    <main>
        <section class="section-container">
            <div class="circle">
                <i class="fas fa-running"></i>
                <p>Connecte toi à d'autres coureurs</p>
            </div>
            <div class="circle">
                <i class="fas fa-calendar-alt"></i>
                <p>Rejoins une course ou crée la tienne</p>
            </div>
            <div class="circle">
                <i class="fas fa-comments"></i>
                <p>Le forum des passionnés t'attend</p>
            </div>
        </section>
        <section class="events-container">
            {% for event in events %}
                <div>
                    <h3>{{ event.name }}</h3>
                    <p>Date : {{ event.dateEvent|date('d/m/Y H:i') }}</p>
                    <p>Description : {{ event.description }}</p>
                </div>
            {% endfor %} 

        </section>
        <section class="users-container">
            {% for user in users %}
                <div>
                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                    <p>Ville : {{ user.city }}</p>
                </div>
            {% endfor %}

        </section>
    </main>

</div>
{% endblock %}
