{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="form-login">
        <figure>
            <img src="img/logo.png" alt="Logo du site">
        </figure>
        
        {{ form_errors(registrationForm) }}
        <p><a href="{{path('app_login')}}">J'ai déjà un compte, me connecter</a></p>
        
        {{ form_start(registrationForm) }}
        <div class="form-register">
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.captcha) }}
            
            <div class="form-check">
                {{ form_widget(registrationForm.agreeTerms) }} 
                Veuillez accepter les <a href="{path('app_conditions_utilisation')}">{{ form_label(registrationForm.agreeTerms) }}</a>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="registration">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
