{% extends 'base.html.twig' %}

{% block title %}Runners{% endblock %}

{% block body %}

<div class="runners-suggest">
    <h3>Runners proches de chez toi</h3>
        <div class="grid">

            {% include "runners/_runners.html.twig" with {results: userSuggested} %}
        </div>
</div>

<div class="runners-container js-filter">
    <div class="search-container">
        <h3 class="title-search">Recherche des Runners près de chez toi</h3>
        {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
        <div class="form-group">
            <label for="q" id="qlabel"> Nom ou Prénom</label>
            {{ form_row(form.q) }}
        </div>
        <div class="form-group">
            {{ form_label(form.departements) }}
            <div id="svg-wrapper">
                {% include 'partials/carte.svg.twig' %}
            </div>
            {{ form_widget(form.departements) }}
            {{ form_errors(form.departements) }}
            <div class="form-check">
                <input type="checkbox" id="departement_autre" class="form-check-input" name="departements[]" value="99" />
                <label for="departement_autre" class="form-check-label">Autre départements ou pays</label>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.levels) }}
            <div class="level-grid">
                {% for level in form.levels %}
                <div class="form-check">
                    {{ form_widget(level) }}
                    {{ form_label(level) }}
                </div>
                {% endfor %}
            </div>
            {{ form_errors(form.levels) }}
        </div>

        <div class="form-group">
            {{ form_label(form.sexe) }}
            <div class="sexe-options">
                {% for sexeOption in form.sexe %}
                <div class="form-check">
                    {{ form_widget(sexeOption) }}
                    {{ form_label(sexeOption) }}
                </div>
                {% endfor %}
            </div>
            {{ form_errors(form.sexe) }}
        </div>

        <div class="form-group age-range" style="display: flex; align-items: center; gap: 20px;">
            <div>
                {{ form_row(form.ageMin) }}
            </div>

            <div id="age-slider" data-min="{{ min }}" data-max="{{ max }}" style="width: 300px;">
            </div>

            <div>
                {{ form_row(form.ageMax) }}
            </div>
        </div>

        <div class="buttons">
            {{ form_row(form.reset) }}
        </div>
        {{ form_end(form) }}

    </div>
    <div class="search-runners-container">
        <h3>Liste des runners</h3>
            {% if results|length < 1 %}
                <p>Aucun coureurs ne correspond à votre recherche</p>
            {% endif %}
        <div class="grid js-filter-content">
            {% include "runners/_runners.html.twig" %}
        </div>
        <div class="js-filter-pagination">
            {% if results %}
            {% include "runners/_pagination.html.twig" with { results: results } %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}