{% extends 'base.html.twig' %}

{% block title %}Runners{% endblock %}

{% block body %}
<div class="runners-container">
    <div class="search-container">
        {{ form_start(form) }}
            {{ form_row(form.q) }}
            {{ form_row(form.departements) }}
            {{ form_row(form.levels) }}
            
            <div class="form-group">
                {{ form_label(form.sexe) }}
                {{ form_widget(form.sexe) }}
                {{ form_errors(form.sexe) }}
            </div>


           <div class="form-group age-range">
                <div style="display: inline-block; margin-right: 10px;">
                    {{ form_row(form.ageMin) }}
                </div>
                <div style="display: inline-block;">
                    {{ form_row(form.ageMax) }}
                </div>
            </div>



            <button type="submit">Filtrer</button>
        {{ form_end(form) }}

    </div>
    <div class="search-runners-container">
        <div class="grid">
            {% for runner in runners %}
            <div class="runner-card">
                <a href="{{ path('app_profil', {'id' :  runner.id}) }}">
                {{ runner.firstName }} {{ runner.lastName }} <br>
                {{ runner.city }} <br>
                {{ runner.getAge }} ans<br>
                </a>
            </div>
            {% endfor %}
        </div>
        <div>
            {{ knp_pagination_render(runners) }}
        </div>
    </div>
</div>
{% endblock %}