{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="infos">
    <h2>Infos</h2>
    <p>{{ user.firstName }} {{ user.lastName }} </p>
    <p><i class="fa-solid fa-house"></i>
        {% if user.city %}
            {{ user.city }}
            {% else %}
            Non renseigné    
        {% endif %}
     </p>
    <p><i class="fa-solid fa-star"></i>
        {% if user.level %}
            {{ user.level }}
            {% else %}
            Non renseigné
        {% endif %}
    </p>
</div>
<div class="friends">
    <h2>Ami(e)s</h2>

</div>
<div class="events">
    <h2>Mes prochaines coures</h2>
    <div class="cards-wrapper">
        {% for registrationNextEvent in registrationNextEvents %}
        <div class="event-card">
            <div class="event-card-body">
                <!-- <img src="" class="event-card-img" alt="Image de l'événement"> -->
                <h3 class="event-title">{{ registrationNextEvent.event.name }}</h3>
                <p class="event-date"><i class="fa-solid fa-calendar"></i> {{
                    registrationNextEvent.event.dateEvent|date('d/m/Y H:i')
                    }}</p>
                <p class="event-location"><i class="fa-solid fa-location-dot"></i> {{
                    registrationNextEvent.event.postalCode }} {{
                    registrationNextEvent.event.city }}</p>
                <a href="" class="event-link">Voir plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="past-races">
    <h2>Mes dernières coures</h2>
    <div class="cards-wrapper">
        {% for registrationPastEvent in registrationPastEvents %}
        <div class="event-card">
            <div class="event-card-body">
                <!-- <img src="" class="event-card-img" alt="Image de l'événement"> -->
                <h3 class="event-title">{{ registrationPastEvent.event.name }}</h3>
                <p class="event-date"><i class="fa-solid fa-calendar"></i> {{
                    registrationPastEvent.event.dateEvent|date('d/m/Y H:i')
                    }}</p>
                <p class="event-location"><i class="fa-solid fa-location-dot"></i> {{
                    registrationPastEvent.event.postalCode }} {{
                    registrationPastEvent.event.city }}</p>
                <a href="" class="event-link">Voir plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}