{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }} {% endblock %}

{% block body %}
<div class="profil-container">
    <div class="left-container">
        <aside class="infos">
            <p>
                {% if user.sexe == 'homme' %}
                <i class="fa-solid fa-person" style="color: blue"></i>
                {% elseif user.sexe == 'femme' %}
                <i class="fa-regular fa-person-dress" style="color: pink"></i>
                {% endif %}
                {{ user.firstName }} {{ user.lastName }}
            </p>
            <h4>Infos</h4>

            {% if user.city %}
            <p><i class="fa-solid fa-house"></i>
                {{ user.city }}
                {% endif %}
            </p>
            {% if user.level %}
            <p><i class="fa-solid fa-star"></i>
                {{ user.level.infoProfil }}
                {% endif %}
            </p>
            {% if user.dateOfBirth %}
            <p>
                <i class="fa-solid fa-cake-candles"></i> {{ user.getAge }} ans
                {% endif %}
            </p>
            {% if user == app.user %}
            <a href=" {{ path('app_user') }} " class="btn btn-primary">Modifier mon profil</a>
            {% else %}
                {% set isFollowed = false %}
                {% for follower in user.followers %}
                    {% if follower.userSource.id == app.user.id %}
                        {% set isFollowed = true %}
                    {% endif %}
                {% endfor %}

                {% if not isFollowed %}
                    <!-- app.user ne suit pas user -->
                    <a href="{{ path('app_follow_request', { 'id': user.id }) }}" class="btn btn-primary">Suivre</a>
                {% else %}
                    <a href="{{ path('app_unfollow_request', { 'id': user.id }) }}" class="btn btn-primary">Ne plus suivre</a>
                {% endif %}
            {% endif %}


        </aside>
        <div class="friends">
            <div class="follow"></div>
            <h4>Follow</h4>
            {% for follow in user.follows %}
            <p>
                <a href=" {{ path('app_profil', {'id' :  follow.userSource.id}) }} ">
                    {{ follow.userSource.firstName }} {{ follow.userSource.lastName }}
                </a>
            </p>
            {% endfor %}
            <div class="follower"></div>
            <h4>Follower</h4>
            {% for follower in user.followers %}
                {% if follower.followAccepted %}
                <p>
                    <a href=" {{ path('app_profil', {'id' :  follower.userSource.id}) }} ">
                        {{ follower.userSource.firstName }} {{ follower.userSource.lastName }}
                    </a>
                </p>
                {% endif %}
            {% endfor %}

            {% if user == app.user %}
                    
                <div class="new-follower"></div>
                <h4>Demande de follow</h4>
                {% for follower in user.followers %}
                    {% if not follower.followAccepted %}
                    <p>
                        <a href=" {{ path('app_profil', {'id' :  follower.userSource.id}) }} ">
                            {{ follower.userSource.firstName }} {{ follower.userSource.lastName }}
                        </a>
                        <a href="{{ path('app_follow_accept', {'id': follower.id}) }}" class="btn btn-success">Accepter</a>
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="event-container">
        <div class="events">
            <h2>Prochaines courses</h2>
            <div class="cards-wrapper">
                {% for registrationNextEvent in registrationNextEvents %}
                <div class="event-card">
                    <div class="event-card-body">
                        <!-- <img src="" class="event-card-img" alt="Image de l'événement"> -->
                        <h3 class="event-title">{{ registrationNextEvent.event.name }}</h3>
                        <p class="event-date"><i class="fa-solid fa-calendar"></i> {{
                            registrationNextEvent.event.dateEvent|date('d/m/Y H:i')
                            }}</p>
                        <p class="event-location"><i class="fa-solid fa-location-dot"></i> {{
                            registrationNextEvent.event.postalCode }} {{
                            registrationNextEvent.event.city }}</p>
                        <a href="" class="event-link">Voir plus</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="past-races">
            <h2>Dernières courses</h2>
            <div class="cards-wrapper">
                {% for registrationPastEvent in registrationPastEvents %}
                <div class="event-card">
                    <div class="event-card-body">
                        <!-- <img src="" class="event-card-img" alt="Image de l'événement"> -->
                        <h3 class="event-title">{{ registrationPastEvent.event.name }}</h3>
                        <p class="event-date"><i class="fa-solid fa-calendar"></i> {{
                            registrationPastEvent.event.dateEvent|date('d/m/Y H:i')
                            }}</p>
                        <p class="event-location"><i class="fa-solid fa-location-dot"></i> {{
                            registrationPastEvent.event.postalCode }} {{
                            registrationPastEvent.event.city }}</p>
                        <a href="" class="event-link">Voir plus</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}