{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }} {% endblock %}

{% block body %}
<div class="profil-container">
    <div class="left-container">
        <aside class="infos">
            <p class="name-user">
                {{ user.firstName }} {{ user.lastName }}
            </p>
            <h4>Infos</h4>

            {% if user.city %}
            <p><i class="fa-solid fa-house"></i>
                {{ user.city }}
                {% endif %}
            </p>
            {% if user.level %}
            <p><i class="fa-solid fa-star"></i>
                {{ user.level.infoProfil }}
                {% endif %}
            </p>
            {% if user.dateOfBirth %}
            <p>
                <i class="fa-solid fa-cake-candles"></i> {{ user.getAge }} ans
                {% endif %}
            </p>
            {% if user == app.user %}
            <a href=" {{ path('app_user') }} " class="btn btn-primary">Modifier mon profil</a>
            {% else %}



            {% set isFollowed = false %}
            {% for follower in user.followers %}
            {% if follower.userSource.id == app.user.id %}
            {% set isFollowed = true %}
            {% endif %}
            {% endfor %}

            {% if not isFollowed %}
            <!-- Lien "Suivre" qui envoie le formulaire avec l'id passé en parametre de la fonction getElementById -->
            <a href="#" class="btn btn-primary"
                onclick="event.preventDefault(); document.getElementById('follow-form-{{ user.id }}').submit();">
                Suivre
            </a>
            <!-- formulaire qui envoie en methode POST vers la route de demande de follow, avec un token généré de maniere
            unique,  -->
            <form id="follow-form-{{ user.id }}" action="{{ path('app_follow_request', { 'id': user.id }) }}"
                method="POST" style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token('follow' ~ user.id) }}">
            </form>
            <!-- Cela permet d'eviter d'avoir juste le lien en href et d'avoir une méthode GET qui permettrai de rajouter 
            des données en BDD -->

            {% else %}
            <a href="#" class="btn btn-primary"
                onclick="event.preventDefault(); document.getElementById('unfollow-form-{{ user.id }}').submit();">
                Ne plus suivre
            </a>

            <form id="unfollow-form-{{ user.id }}" action="{{ path('app_unfollow_request', { 'id': user.id }) }}"
                method="POST" style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token('unfollow' ~ user.id) }}">
            </form>
            {% endif %}
            {% endif %}



        </aside>
        <div class="friends">
            <div class="follow"></div>
            <h4>Follow</h4>
            {% for follow in user.follows %}
            <p>
                <a href=" {{ path('app_profil', {'id' :  follow.userTarget.id}) }} ">
                    {{ follow.userTarget.firstName }} {{ follow.userTarget.lastName }}
                </a>
                {% if user == app.user %}
                <a href="#" class="btn btn-primary"
                    onclick="event.preventDefault(); document.getElementById('unfollow-form-{{ follow.userTarget.id }}').submit();">
                    <i class="fa-solid fa-xmark" style="color: red"></i>
                </a>

            <form id="unfollow-form-{{ follow.userTarget.id }}"
                action="{{ path('app_unfollow_request', { 'id': follow.userTarget.id }) }}" method="POST"
                style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token('unfollow' ~ follow.userTarget.id) }}">
            </form>
            {% endif %}
            </p>
            {% endfor %}
            <div class="follower"></div>
            <h4>Follower</h4>
            {% for follower in user.followers %}
            {% if follower.followAccepted %}
            <p>
                <a href=" {{ path('app_profil', {'id' :  follower.userSource.id}) }} ">
                    {{ follower.userSource.firstName }} {{ follower.userSource.lastName }}
                </a>
                {% if user == app.user %}
                <a href="#" class="btn btn-primary"
                    onclick="event.preventDefault(); document.getElementById('unfollower-form-{{ follower.userSource.id }}').submit();">
                    <i class="fa-solid fa-xmark" style="color: red"></i>
                </a>

            <form id="unfollower-form-{{ follower.userSource.id }}"
                action="{{ path('app_unfollower_request', { 'id': follower.userSource.id }) }}" method="POST"
                style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token('unfollower' ~ follower.userSource.id) }}">
            </form>
            <a href=" {{ path('app_unfollower_request', { 'id': follower.userSource.id }) }}"><i
                    class="fa-solid fa-xmark" style="color: red"></i></a>
            {% endif %}
            </p>
            {% endif %}
            {% endfor %}

            {% if user == app.user %}

            <div class="new-follower"></div>
            <h4>Demande de follow</h4>
            {% for follower in user.followers %}
            {% if not follower.followAccepted %}
            <p>
                <a href=" {{ path('app_profil', {'id' :  follower.userSource.id}) }} ">
                    {{ follower.userSource.firstName }} {{ follower.userSource.lastName }}
                </a>

                <a href="#" class="btn btn-success"
                    onclick="event.preventDefault(); document.getElementById('follow-accept-form-{{ follower.id }}').submit();">
                    Accepter
                </a>
            <form id="follow-accept-form-{{ follower.id }}"
                action="{{ path('app_follow_accept', { 'id': follower.id }) }}" method="POST" style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token('follow-accept' ~ follower.id) }}">
            </form>


            <a href=" {{ path('app_unfollower_request', { 'id': follower.userSource.id }) }}"><i
                    class="fa-solid fa-xmark" style="color: red"></i></a>
            </p>
            {% endif %}
            {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="event-container">
        <div class="events">
            <h2>Prochaines courses</h2>
            <div class="events-grid">
                {% for registrationNextEvent in registrationNextEvents %}

                <div class="event-card">
                    {% set photos = registrationNextEvent.event.getPhotos() %}
                    {% if photos is iterable and photos is not empty %}
                    {% set firstPhoto = photos|first %}
                    <figure>
                        <img src="{{asset(firstPhoto.url)}}" alt="Photo de la course">
                    </figure>
                    {% else %}
                    <figure>
                        <img src="{{asset('img/default_event.jpg')}}" alt="Photo illustrant la course">
                    </figure>
                    {% endif %}
                    <p class="event-date"><i class="fa-solid fa-calendar-days"></i> {{
                        registrationNextEvent.event.dateEvent|format_date(pattern="EEE d MMMM y", locale="fr")|capitalize }}</p>
                    <h3>{{ registrationNextEvent.event.name }}
                        {% if registrationNextEvent.event.isCancelled %}
                        <span>(Course annulé)</span>
                        {% endif %}
                    </h3>
                    <p><i class="fa-solid fa-location-dot"></i> {{registrationNextEvent.event.city}} ({{registrationNextEvent.event.postalCode | slice(0,2) }})</p>
                    {% if app.user %}
                    <p class="more-about">En savoir +</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <h2>Dernières courses</h2>
            <div class="events-grid">
                {% for registrationPastEvent in registrationPastEvents %}

                <div class="event-card">
                    {% set photos = registrationPastEvent.event.getPhotos() %}
                    {% if photos is iterable and photos is not empty %}
                    {% set firstPhoto = photos|first %}
                    <figure>
                        <img src="{{asset(firstPhoto.url)}}" alt="Photo de la course">
                    </figure>
                    {% else %}
                    <figure>
                        <img src="{{asset('img/default_event.jpg')}}" alt="Photo illustrant la course">
                    </figure>
                    {% endif %}
                    <p class="event-date"><i class="fa-solid fa-calendar-days"></i> {{
                        registrationPastEvent.event.dateEvent|format_date(pattern="EEE d MMMM y", locale="fr")|capitalize }}</p>
                    <h3>{{ registrationPastEvent.event.name }}
                        {% if registrationPastEvent.event.isCancelled %}
                        <span>(Course annulé)</span>
                        {% endif %}
                    </h3>
                    <p><i class="fa-solid fa-location-dot"></i> {{registrationPastEvent.event.city}} ({{registrationNextEvent.event.postalCode | slice(0,2) }})</p>
                    {% if app.user %}
                    <p class="more-about">En savoir +</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="last-activities-forum">
        <div class="last-posts">

            <h2>Derniers messages sur le forum</h2>
            {% if lastPosts %}

            {% for post in lastPosts %}
            <p> {{ post.message }} </p>
            {% endfor %}
            {% else %}
            <p>Aucun message posté</p>
            {% endif %}
        </div>

        <div class="last-topics">
            <h2>Derniers sujets créés sur le forum</h2>
            {% if lastTopics %}

            {% for topic in lastTopics %}
            <p> {{ topic.title }} </p>
            {% endfor %}
            {% else %}
            <p>Aucun sujet créé</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}