{% extends 'base.html.twig' %}

{% block title %}{{event.name}}{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
<div class="flash-{{ label }}">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endfor %}
<div class="event-container">
    <div class="event-header">
        <p class="event-date"><i class="fa-solid fa-calendar-days"></i> {{ event.dateEvent|format_date(pattern="EEE d
            MMMM y", locale="fr")|capitalize }}</p>
        <h2 class="event-name">
            {{ event.name }}
            {% if event.isCancelled %}
                <span>(Course annulé)</span>
            {% endif %}
            {% if app.user %}
                {% set userFavori = listFavoris|filter(f => f.user == app.user)|length > 0 %}

                <form method="post" action="{{ path('app_toggle_favori', { id: event.id }) }}" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('favori' ~ event.id) }}">
                    <button type="submit" class="heart-button" title="Ajouter/Retirer des favoris">
                        <i class="fa{{ userFavori ? '-solid' : '-regular' }} fa-heart" style="color: red;"></i>
                    </button>
                </form>
            {% endif %}
        </h2>
        <p><i class="fa-solid fa-location-dot"></i> {{event.city}} ({{event.postalCode | slice(0,2) }})</p>
        <p class="event-organizer">
            Organisé par
            <a href="{{path('app_profil', {'id': event.organizer.id})}}" class="link-organizer">
                {{event.organizer.firstName}} {{event.organizer.lastName}}
            </a>
        </p>
        
        <div class="event-favori"></div>
    </div>
    <div class="event-photos">
        {% for photo in photos %}
        <figure>
            <img src="{{asset(photo.url)}}" alt="Photo de la course">
            <caption>{{photo.description}}</caption>
        </figure>
        {% endfor %}
    </div>
    <div class="event-infos">
        <h4>Description de la course</h4>
        <p>{{event.description}}</p>
        <p>Point de départ : {{event.adress}} {{event.postalCode}} {{event.city}} </p>
        <p>Nombre d'inscrit : {{nbrInscription}}/{{event.capacity}}</p>

        {% set userInscrit = false %}

        {% for inscription in listInscrits %}
        {% if inscription.user == app.user %}
        {% set userInscrit = true %}
        {% endif %}
        {% endfor %}

        {% if app.user %}
            {% if not userInscrit %}
                {% if nbrInscription < event.capacity %} <h4>Inscription</h4>
                    <form method="post" action="{{ path('app_subscribeEvent', { id: event.id }) }}" style="display:inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('inscription' ~ event.id) }}">
                        <button type="submit" onclick="return confirm('S\'inscrire à cette course ?')">
                            S'inscrire à la course
                        </button>
                    </form>
                {% else %}
                    <p>Inscriptions closes</p>
                {% endif %}
            {% else %}
                <form method="post" action="{{ path('app_unsubscribeEvent', { id: event.id }) }}" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('desinscription' ~ event.id) }}">
                    <button type="submit" onclick="return confirm('Se désinscrire de cette course ?')">Se
                        désinscrire</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="event-manager">
        {% if app.user == event.organizer %}
        <div class="create-event">
            <a href="" id="openModalBtn">Modifier la course</a>
        </div>
        <div id="eventModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>

                <h2>Modifier la course</h2>

                {{ form_start(newEventForm) }}
                {{ form_row(newEventForm.name) }}
                {{ form_row(newEventForm.dateEvent) }}
                {{ form_row(newEventForm.description) }}
                {{ form_row(newEventForm.distance) }}
                {{ form_row(newEventForm.capacity) }}
                {{ form_row(newEventForm.adress) }}
                {{ form_row(newEventForm.postalCode )}}
                {{ form_row(newEventForm.city) }}
                {% if event.photos is not empty %}
                <div class="photo-list">
                    <label>Photos existantes</label>
                    <div class="photo-grid">
                        {% for photo in event.photos %}
                        <div class="photo-wrapper">
                            <img src="{{asset(photo.url)}}" alt="Photo de la course" class="photo-thumb">
                            <button class="delete-photo-btn" data-photo-id="{{photo.id}}"
                                data-csrf="{{ csrf_token('delete' ~ photo.id) }}">Supprimer</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {{ form_row(newEventForm.photos) }}

                <button type="submit">Créer</button>
                {{ form_end(newEventForm) }}

            </div>
        </div>
        <form method="post" action="{{ path('app_event_cancel', { id: event.id }) }}" style="display:inline">
            <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ event.id) }}">
            <button type="submit" onclick="return confirm('Annuler cette course ?')">Annuler la course</button>
        </form>
        {% endif %}
    </div>
</div>
<script src="{{asset('js/deletePhotoEvent.js')}}"></script>
{% endblock %}