{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
{% if app.user %}

<div class="events-wrapper">
    <div class="create-event">
        <a href="" id="openModalBtn">Créer une nouvelle course</a>
    </div>

    <!-- Modal -->
    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>

            <h2>Créer une nouvelle course</h2>

            {# Ici tu mets ton formulaire Symfony par exemple : #}
            {{ form_start(newEventForm) }}
            {{ form_row(newEventForm.name)}}
            {{ form_row(newEventForm.dateEvent)}}
            {{ form_row(newEventForm.description)}}
            {{ form_row(newEventForm.distance)}}
            {{ form_row(newEventForm.capacity)}}
            {{ form_row(newEventForm.adress)}}
            {{ form_row(newEventForm.postalCode)}}
            {{ form_row(newEventForm.city)}}

            <button type="submit">Créer</button>
            {{ form_end(newEventForm) }}

        </div>
    </div>
    {% endif %}
    <div class="search-runners-container">
        <h2>Les courses à venir</h2>
        <div class="events-grid js-filter-content">
            {% include "events/_events.html.twig" %}
        </div>
        <div class="js-filter-pagination">
            {% if events %}
            {% include "events/_pagination.html.twig"%}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}