{% extends 'base.html.twig' %}

{% block title %}Meet & Run - Forum{% endblock %}

{% block body %}
<div class="topics-container">
    <h2>Liste des derniers sujets</h2>
    {% for topic in topics %}
    <div class="topic-container">
        <p>{{topic.category}} - <a href="{{path('app_topic', {'id': topic.id})}}" class="link-topic">{{ topic.title }}</a> - Créé le {{ topic.dateCreation|date("d-m-Y") }} par <a href="{{ path('app_profil', {'id': topic.user.id})}}"> {{ topic.user}}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}