{% extends 'base.html.twig' %}

{% block title %}Meet & Run - Forum{% endblock %}

{% block body %}
<div class="posts-container">
    <h2>{{topic.title}}</h2>
    {% for post in posts %}
    <div class="topic-container">
        <p>{{ post.message }}</a> - Posté le {{ post.dateMessage|date("d-m-Y à H:i") }} par <a href="{{ path('app_profil', {'id': post.user.id})}}"> {{ post.user}}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}